* {
    font-family: arial;
}

body {
    margin: 0;
    background: #f9f7e8;
}

header {
    background-color: #ff6044;
    font-weight: 400;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    max-width: 20%;
    padding: 0 0;
    margin-left: 50px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 20px;
}

nav li:last-child {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 35px;
}

nav a:hover {
    color: white;
    box-shadow: 0px 1px 0px 0px white;
    transition: all 0.4s;
    margin-top: 10px;
}

nav a:active {
    color: white;
    text-shadow: 1px 1px 5px #fff;
    transition: all 0.3s;
}

.container-navbar {
    width: 100%;
}

.search {
    position: absolute;
    left: 25%;
    top: 7%;
    width: 32%;
    height: 50px;
    background-color: white;
}

.search input:focus {
    outline: none;
}

.search-label {
    width: 100%;
}

.search-bar {
    width: 85%;
    float: right;
    font-size: 2.4em;
    margin: auto;
    border: none;
}

.search-button {
    background: url(img/search%20icon.png) no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    margin-left: 3px;
    margin-top: 1px;
    text-indent: -99999px;
    float: left;
    border: none;
}

/*Account style */
.client_info {
    background-color: lightskyblue;
    width: 20%;
    padding: 1%;
    border-style: solid;
    border-color: navy;
    border-width: 10%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    color: navy;
}

.loyalty_points {
    background-color: lightskyblue;
    width: 20%;
    padding: 1%;
    border-style: solid;
    border-color: navy;
    border-width: 10%;
    float: right;
    margin-right: 15%;
    margin-top: 2%;
}

#title {
    font-size: 250%;
    background-color: lightskyblue;
    border-style: solid;
    border-color: navy;
    border-width: 10%;
    padding: 1%;
    margin-top: 0%;
}

.orders {
    background-color: lightskyblue;
    margin-top: 20%;
    margin-left:5%;
    border-style: solid;
    border-color: navy;
    border-width: 10%;
    text-align: center;
    width:80%;
}

.orders th {
    border-style: solid;
    border-right-style: solid;
    
    margin-bottom: 10%;
    border-color:navy;
    font-size: 150%
    
}
.orders td {
    font-size: 150%;
    border-bottom-style: solid;
    border-color:navy;
}

#cmd{
    
    color: navy;
    font-weight: bold;
    font-size: 150%;
    padding-top: 2%;
  
}

#idc  {
    width:7%;

}
#date  {
    width:34%;

}

#ec  {
    width:10%;

}

#mc  {
    width:14%;

}

#pts {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 300%;
}
/**/

#page {
    font-size: 16pt;
}

#tableStyle {
    width: 100%;
}

#tableInfoStyle {
    width: 100%;
    border-spacing: 25pt;
}

#categoryProduct {
    font-size: 22pt;
    text-align: right;
    padding-bottom: 10%;
    padding-right: 2%;
}

#infoProduct {
    border: solid grey 1pt;
    padding-right: 130pt;
    padding-left: 1.5%;
}

#descrProduct {
    padding-bottom: 5%;
    padding-left: 1.5%;
    border: solid grey 1pt;
}

#imgProduct {
    width: 360px;
    height: auto;
}

#tableImgProduct {
    width: 25%;
}

#ajoutPanier {
    text-align: center;
    width: 150pt;
    background-color: steelblue;
    border: 2px groove lightblue;
    height: 145pt;
}

#ajoutPanier a {
    padding-top: 45pt;
    display: block;
    background-color: steelblue;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#ajoutPanier:hover {
    background-color: white;
}
